<h2>Available Lines</h2>

{{#each lines}}

<div class="card my-1">
    <div class="card-body d-flex align-items-center">
        <h6 class="mr-auto m-0">{{name}}</h6>
        <button class="btn btn-success mx-1">Edit</button>
        <button class="btn btn-outline-danger">Delete</button>
    </div>


    <ul class="list-group">
        {{#stops}}
        <li class="list-group-item">{{this}}</li>
        {{/stops}}
    </ul>

</div>

{{/each}}

<button class="btn btn-success mx-auto">Add Line</button>