* {
  font-family: 'Tajawal', sans-serif;
}

.App {
  background: #ecf0f1;
  display: grid;
  grid-template-rows: 20% 80%;
  height: 100vh;
  h1 {
    text-align: center;
  }

  .container {
    color: white;
    // background: #000;
    display: flex;
    flex-direction: column;
    // justify-content: top;
    justify-self: center;
    width: 50%;
  }
}

.tile {
  display: flex;
  // background: #1abc9c;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border-radius: 5px;
  padding: 30px;
}

.tile:focus {
  background-position: right center; /* change the direction of the change here */
}
