<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<select class="custom-select my-2">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
</select>

<select class="custom-select my-2">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
</select>