<p class="droid-arabic-kufi text-center">اسرع طريق بالمترو</p>

<form action="/results" method="get" class="p-2">
    <select class="custom-select my-2 droid-arabic-kufi" id="source" name="source">
        {{#each lines}}
        <optgroup label="{{name}}">
            {{#each stops}}
            <option class="droid-arabic-kufi">{{ this }}</option>
            {{/each}}
        </optgroup>
        {{/each}}
    </select>

    <select class="custom-select my-2 droid-arabic-kufi" id="destination" name="destination">
        {{#each lines}}
        <optgroup label="{{name}}">
            {{#each stops}}
            <option class="droid-arabic-kufi">{{ this }}</option>
            {{/each}}
        </optgroup>
        {{/each}}
    </select>

    <button type="submit" class="btn btn-primary droid-arabic-kufi mx-auto">بحث</button>
    <button id="switch" class="btn btn-primary text-center"><i class="fas fa-exchange-alt"></i></button>
</form>