<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <div>

        <main class="container p-2">
            {{{body}}}
        </main>

        <footer class="text-center container">
            <p>Created by Mohammed Farid. Copyright {{getCurrentYear}} <span class="red-heart">♥</span>
            </p>
        </footer>

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
</body>

</html>