<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <header>
        <nav>
            <a href="/">
                <img src="images/train.png">
            </a>
        </nav>
    </header>

    <main class="container p-2 d-flex justify-content-center flex-column">
        {{{body}}}
    </main>

    <footer>
        <p>Created by <a href="https://github.com/Mohammed-Farid">Mohammed Farid</a>. Copyright {{getCurrentYear}} <span
                class="red-heart">♥</span>
        </p>
    </footer>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/buttonHandling.js"></script>

</body>

</html>