<p class="droid-arabic-kufi text-center">{{message}}</p>

<button class="btn btn-warning text-center"><i class="fas fa-exchange-alt"></i></button>

{{#each path}}
<div class="py-2">
    <ul class="list-group">

        <li class="list-group-item list-group-item-warning text-right droid-arabic-kufi">اتجاه {{direction}}</li>
        {{#each stops}}
        <li class="list-group-item text-right droid-arabic-kufi">{{this}}</li>
        {{/each}}

    </ul>
</div>
{{/each}}