@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fontlibrary.org/face/droid-arabic-kufi');

.droid-arabic-kufi {
  font-family: 'Droid Arabic Kufi', serif;
}

.custom-select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  option{
    height: 1.5rem;
    padding: 1rem;
  }

}

$dark: #424242;
$contrast: #fff;

nav, footer{

  background-color: $dark;
  
  height: 5vh;
  padding: 0 !important;
  margin: 0 !important;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  a,p{
    margin: 0 !important;
    color: $contrast;
    text-align: center;
    span{
      color: #F44336;
    }
  }

}

main{
  min-height: 90vh;
}

body{
  p{
    color: $contrast;
  }

  .alert-text{
    color: inherit;
    text-align: right;
    margin: 0;
  }

  box-sizing: content-box;
  height: 100vh;
  background-color: lighten($color: $dark, $amount: 10)
}