@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fontlibrary.org/face/droid-arabic-kufi');

.droid-arabic-kufi {
  font-family: 'Droid Arabic Kufi', serif;
}

$dark-blue: #203b49;
$contrast: #fff;
$dark: darken($color: $dark-blue, $amount: 20);

body{
  background-color: $dark-blue;
}

body {
  height: 100%;
  background-color: $dark-blue;
}


nav{
  background-color: $dark;
  .nav-item a{
    text-decoration: none;
    color: $contrast;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.5s;
    &:hover {
      color: darken($color: $contrast, $amount: 10);
      background: darken($color: $dark, $amount: 10);
    }
  }
}

main{
  
  background-color:lighten($color: $dark, $amount: 10);
  min-height: 90vh;

  p{
    font-size: 32px;
    color: lighten($color: $contrast, $amount: 10);
  }

  ul{
    display: flex !important;
    li{
      flex-grow: 0 !important;
    }
  }
}

footer{
  background-color: $dark;
  color: $contrast;

  p{
    padding: 1%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
  }
  .red-heart{
    color: red;
  }
}

.custom-select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  option{
    height: 1.5rem;
    padding: 1rem;
  }

}

