form {
  display: grid;
  flex-grow: 1;
  gap: 30px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(3, 1fr);

  label {
    justify-self: center;
    align-self: center;
  }
}

.btn {
  border: none;
  flex: 1 1 auto;
  padding: 10% 4%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  cursor: pointer;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}
